<!DOCTYPE VTKConfigML>
<configuration>
    <config value="" name="action_list_area"/>
    <config value="" name="action_list_width"/>
    <config value="true" name="ask_save_palettes"/>
    <config value="false" name="auto_expand_tree"/>
    <config value="" name="background_file"/>
    <config value="2" name="background_type"/>
    <config value="-426" name="background_x"/>
    <config value="-416" name="background_y"/>
    <config value="false" name="backup_onload"/>
    <config value="true" name="cache_compression"/>
    <config value="0" name="cache_type"/>
    <config value="false" name="clsn_over_axis"/>
    <config value="true" name="code_folding_markers"/>
    <config value="false" name="code_highlight_blocks"/>
    <config value="true" name="code_highlight_line"/>
    <config value="true" name="code_line_numbers"/>
    <config value="true" name="code_paren_matching"/>
    <config value="" name="colorset"/>
    <config value="true" name="confirm_close"/>
    <config value="true" name="confirm_delete"/>
    <config value="true" name="confirm_editimg"/>
    <config value="" name="crosshair_animation"/>
    <config value="" name="crosshair_extra"/>
    <config value="" name="crosshair_sprite"/>
    <config value="0" name="crosshair_type"/>
    <config value="0" name="default_codepage"/>
    <config value="false" name="enable_file_watcher"/>
    <config value="4" name="extra_toolbar"/>
    <config value="Courier New" name="font_name"/>
    <config value="10" name="font_size"/>
    <config value="" name="gif_path"/>
    <config value="" name="iconset"/>
    <config value="en-us" name="language"/>
    <config value="302" name="main_axis_x"/>
    <config value="395" name="main_axis_y"/>
    <config value="4" name="main_toolbar"/>
    <config value="1" name="onion_effect"/>
    <config value="80" name="onion_opacity"/>
    <config value="Classic" name="preset"/>
    <config value="" name="proj_path"/>
    <config value="false" name="quicksearch_back"/>
    <config value="false" name="quicksearch_case"/>
    <config value="false" name="quicksearch_circular"/>
    <config value="false" name="quicksearch_regexp"/>
    <config value="false" name="show_action_list"/>
    <config value="true" name="show_addpalette_dialog"/>
    <config value="true" name="show_addsound_dialog"/>
    <config value="true" name="show_addsprite_dialog"/>
    <config value="true" name="show_anim_cross"/>
    <config value="false" name="show_calculator"/>
    <config value="false" name="show_clipboard"/>
    <config value="true" name="show_clsn1"/>
    <config value="true" name="show_clsn2"/>
    <config value="true" name="show_clsn_def1"/>
    <config value="true" name="show_clsn_def2"/>
    <config value="false" name="show_find_multi"/>
    <config value="false" name="show_guides"/>
    <config value="true" name="show_left_panel"/>
    <config value="false" name="show_organizer"/>
    <config value="false" name="show_quicksearch"/>
    <config value="true" name="show_right_panel"/>
    <config value="true" name="show_rulers"/>
    <config value="true" name="show_sctrl_list"/>
    <config value="true" name="show_spr_cross"/>
    <config value="false" name="show_text_bar"/>
    <config value="false" name="show_trans_color"/>
    <config value="" name="snd_path"/>
    <config value="true" name="sort_file_names"/>
    <config value="" name="spr_path"/>
    <config value="false" name="sprite_over_guides"/>
    <config value="" name="stylesheet"/>
    <config value="true" name="switch_frame_spr"/>
    <config value="true" name="switch_to_imgpal"/>
    <config value="64" name="thumb_size"/>
    <config value="true" name="toolbar_break"/>
    <config value="true" name="toolbar_first"/>
    <config value="64" name="undo_limit"/>
    <config value="false" name="use_opengl"/>
    <config value="609" name="window_height"/>
    <config value="50" name="window_left"/>
    <config value="0" name="window_state"/>
    <config value="51" name="window_top"/>
    <config value="1040" name="window_width"/>
    <config value="2" name="zoom_level"/>
    <config value="1" name="zoom_mode"/>
</configuration>
